nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #036;
  transform: translate3d(-500px, 0, 0);
  transition: transform 0.4s ease;
}
.active-nav nav {
  transform: translate3d(0, 0, 0);
}
nav ul {
  list-style: none;
  /* margin-top: 100px; */
}
nav ul li{
  text-align: center;
  color: #fff;
}

#electSelect {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

#electSelect select{
  width: 29%;
}

.phaseSelect{
  display: flex;
  align-items: center;
}

/* #phaseSelect {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
} */

#minoritySelect{
  float: left;
  /* margin-left: 20%; */
  text-align: left;
  width: 100%;
}

#minoritySelect input{
    float: left;
  /* display: block;
  margin-left: auto;
  vertical-align: bottom;
  position: relative;*/
}

#minoritySelect label {
    padding-left: 10px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
nav ul li a blockquote{
  align-items: center;
}

.blockquotes{
  text-align: center;
  display: none;
}
.ui-slider-horizontal {
  height: .6em;
}
.ui-slider-horizontal {
  width:60%;
  margin-left: auto;
  margin-right: auto;
}
.ui-widget-header {
  background: #3FE331;
}
.slider-range {
  position: relative;
  width:60%;
  background-color: #f9f9f9;
  border: 1px solid #6e6666;
  min-width: 40%;
  height: 32px;
  border-radius: 5px;
  right: 0;
  font-size:16px;
}
.range-field{
  background-color:#f9f9f9;
  border: 1px solid #6e6666;
  color: black;
  font-family: myFont;
  font: normal 14px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  height:10px;
  width:10%;
  min-width: 9%;
  padding:5px;
}
.min-max-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.nav-button{
  display: block;
  width: 60%;
  height: 30px;
  position: relative;
  border: 2px solid #04a;
  border-radius: 5px;
  background-color: #06c;
}
.nav-button .content {
    display: block;
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    background-color: #09f;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 6px 0 #06c;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.nav-button:active .content {
    bottom: 0;
    box-shadow: 0 0 0 #06c;
}

.allsliders{
  text-align: center;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}

.tab{
    height: 100%;
}
/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
  overflow: auto;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

#targetMM{
  width: 40px;
}
#MinorityP12{
  display: none;
}
